.wd-avatars {
    width: 30px;
    height:30px;
    border-radius: 50%;
}

.fa-search {
    color: black;
}

.wd-logos {
    width: 70px;
    height: 70px;
}

.btn {
    border-radius: 50px;
}


.fa-cog {
    margin-top: 2px;
    color: rgb(89, 200, 241, 1);
    font-size: 30px;
}

.wd-users {
    font-weight: bold;
    font-size: 15px;
}

.wd-topics {
    color: gray;
}

.fa-ellipsis {
    color: white;
}

.wd-float-left{
    float: left;

}

.wd-search-icon {
    background-color:white;
    border-radius: 50px;

}

.wd-search-bar {
    border-radius: 50px;
    border-left: none;
}


.fa-cog {
    position: relative;
    top: 3px;
    /*vertical-align: center;*/
    left: -10px;
}