.wd-avatars {
    width: 30px;
    height:30px;
    border-radius: 50%;
}

.wd-logos {
    width: 70px;
    height: 70px;
}

.btn {
    border-radius: 50px;
}


.fa-gear {
    color: blue;
    font-size: 25px;
}

.wd-users {
    font-weight: bold;
    font-size: 15px;
}

.wd-topics {
    color: gray;
}

.fa-ellipsis {
    color: white;
}

.wd-float-left{
    float: left;

}

.wd-search-icon {
    background-color:white;
    border-radius: 50px;

}

.wd-search-bar {
    border-radius: 50px;
    border-left: none;
}


.fa-cog {
    position: relative;
    top: 3px;
    /*vertical-align: center;*/
    left: -10px;
}